---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: ReferenceGrant
metadata:
  name: extauth-enterprise-rg
  namespace: {{ system_namespace }}
spec:
  from:
  - group: gateway.kgateway.dev
    kind: GatewayExtension
    namespace: {{ httproute_namespace }}
  to:
  - group: ""
    kind: Service
---
apiVersion: gloo.solo.io/v1alpha1
kind: GlooTrafficPolicy
metadata:
  name: {{ traffic_policy }}
  namespace: {{ httproute_namespace }}
spec:
  targetRefs:
    - name: {{ httproute_name }}
      group: gateway.networking.k8s.io
      kind: HTTPRoute
  extAuthEnterprise:
    extensionRef:
      name: ext-auth-server
    authConfigRef:
      name: oauth-authorization-code
      namespace: {{ service_namespace }}
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: GatewayExtension
metadata:
  name: ext-auth-server
  namespace: {{ httproute_namespace }}
spec:
  type: ExtAuth
  extAuth:
    grpcService:
      backendRef:
        name: ext-auth-service-{{ gateway_class_name }}
        namespace: {{ system_namespace }}
        port: 8083
---
apiVersion: extauth.solo.io/v1
kind: AuthConfig
metadata:
  name: oauth-authorization-code
  namespace: {{ service_namespace }}
spec:
  configs:
  - oauth2:
      oidcAuthorizationCode:
        appUrl: "http://{{ gateway_address }}:{{ ingress_http_port }}"
        callbackPath: /callback
        clientId: {{ client_id }}
        clientSecretRef:
          name: oauth-keycloak
          namespace: {{ system_namespace }}
        issuerUrl: "{{ keycloak_url }}/realms/master/"
        scopes:
        - email
        session:
          failOnFetchFailure: true
          redis:
            cookieName: keycloak-session
            options:
              host: redis-{{ ingress_gateway_class }}.{{ system_namespace }}:6379
        headers:
          idTokenHeader: jwt
...
