---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
  labels:
    name: {{ namespace }}
{% if ambient_enabled %}
    istio.io/dataplane-mode: ambient
{% endif %}
{% if sidecar_enabled %}
{% if revision %}
    istio.io/rev: {{ revision }}
{% else %}
    istio-injection: enabled
{% endif %}
{% endif %}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: tools
  namespace: {{ namespace }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tools
  namespace: {{ namespace }}
  labels:
    app: tools
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tools
  template:
    metadata:
      labels:
        app: tools
    spec:
      serviceAccountName: tools
      containers:
      - name: tools
        command:
        - "tail"
        - "-f"
        - "/dev/null"
        image: arunvelsriram/utils:latest
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            cpu: 3m
            memory: 40Mi
          requests:
            cpu: 1m
            memory: 20Mi
...
