---
apiVersion: v1
kind: Secret
metadata:
  name: {{ cluster }}
  labels:
    argocd.argoproj.io/secret-type: cluster
type: Opaque
stringData:
  name: {{ cluster }}
  server: {{ cluster_server }}
  config: |
    {
      "tlsClientConfig": {
        "insecure": false,
        "certData": {{ cert_data }}",
        "keyData": "{{ key_data }}",
        "caData": "{{ ca_data }}"
      }
    }

...
