---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ awspca_component }}-ca
  namespace: {{ istio_namespace }}
spec:
  isCA: true
  duration: 720h #30d
  renewBefore: 360h #15d
  secretName: {{ istio_secret }}
  commonName: {{ awspca_component }}-ca
  dnsNames:
{%- if istio_revision %}
  - "*.istiod-{{ istio_revision }}"
{%- else %}
  - "*.istiod"
{%- endif %}
  subject:
    organizations:
    - {{ trust_domain }}
    - cert-manager
  issuerRef:
    group: awspca.cert-manager.io
    kind: {{ awspca_issuer_kind }}
    name: {{ awspca_issuer }}
  privateKey:
    rotationPolicy: Always
...
