---
common:
  cluster: {{ cluster_name }}
  verbose: {{ verbose }}
{%- if gloo_agent %}
glooAgent:
  enabled: true
  relay:
    serverAddress: gloo-mesh-mgmt-server:9900
  extraEnvs:
    RELAY_DISABLE_CLIENT_CERTIFICATE_AUTHENTICATION:
      value: "true"
    RELAY_TOKEN:
      valueFrom:
        secretKeyRef:
          key: token
          name: {{ gme_secret }}
{% endif %}
glooAnalyzer:
  enabled: {{ analyzer_enabled }}
  runAsSidecar: true
glooInsightsEngine:
  enabled: {{ insights_enabled }}
glooMgmtServer:
  enabled: true
  serviceType: LoadBalancer
  extraEnvs:
    RELAY_DISABLE_CLIENT_CERTIFICATE_AUTHENTICATION:
      value: "true"
    RELAY_TOKEN:
      valueFrom:
        secretKeyRef:
          key: token
          name: {{ gme_secret }}
  relay:
    disableTokenGeneration: true
{%- if azure_enabled %}
  serviceOverrides:
    metadata:
      annotations:
        service.beta.kubernetes.io/azure-load-balancer-internal: "true"
{% endif %}
glooUi:
  enabled: true
  service:
  serviceType: LoadBalancer
{%- if azure_enabled %}
  serviceOverrides:
    metadata:
      annotations:
        service.beta.kubernetes.io/azure-load-balancer-internal: "false"
{% endif %}
licensing:
  glooMeshLicenseKey: {{ gloo_platform_license_key }}
prometheus:
  enabled: true
redis:
  deployment:
    enabled: true
telemetryCollector:
  enabled: true
telemetryCollectorCustomization:
  skipVerify: true
telemetryGateway:
  enabled: true
  service:
    type: LoadBalancer
{%- if azure_enabled %}
    annotations:
      service.beta.kubernetes.io/azure-load-balancer-internal: "true"
{% endif %}
######rateLimit:
######  enabled: true
######  deployment:
######    dynamodb:
######      secretName: aws-credentials 
######      region: us-west-2
######      tableName: rate-limits
######      consistentReads: false
######      batchSize: 100
...
