---
apiVersion: v1
kind: Service
metadata:
{%- if ambient_enabled %}
  annotations:
    networking.istio.io/traffic-distribution: {{ traffic_distribution }}
{%- endif %}
  name: {{ httpbin_service_name }}
  namespace: {{ httpbin_namespace }}
  labels:
    app: httpbin
{%- if ambient_enabled %}
    solo.io/service-scope: global
{%- endif %}
spec:
  ports:
    - name: http
      port: {{ httpbin_service_port }}
      targetPort: 8080
  selector:
    app: httpbin
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: httpbin
  namespace: {{ httpbin_namespace }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: httpbin
  namespace: {{ httpbin_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: httpbin
  template:
    metadata:
      labels:
        app: httpbin
    spec:
      serviceAccountName: httpbin
      containers:
        - image: docker.io/mccutchen/go-httpbin:latest
          imagePullPolicy: IfNotPresent
          name: httpbin
          command: [ go-httpbin ]
          args:
            - "-port"
            - "8080"
            - "-max-duration"
            - "600s" # override default 10s
          ports:
            - containerPort: 8080
