- apiVersion: security.istio.io/v1
  kind: PeerAuthentication
  metadata:
    annotations:
    name: {{ istio_peer_auth_mode | string | lower }}-peer-authentication
    namespace: {{ istio_namespace }}
  spec:
    mtls:
      mode: {{ istio_peer_auth_mode | string | upper }}
