{%- if eastwest_gateway_class == "istio-eastwest" and not istio_126_enabled %}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ eastwest_gateway }}
  namespace: {{ eastwest_namespace }}
spec:
  maxReplicas: {{ eastwest_size }}
  minReplicas: {{ eastwest_size }}
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ eastwest_gateway }}-{{ eastwest_gateway_class }}
{%- else %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ eastwest_gateway }}-gw-params
  namespace: {{ eastwest_namespace }}
data:
  horizontalPodAutoscaler: |
    spec:
      minReplicas: {{ eastwest_size }}
      maxReplicas: {{ eastwest_size }}

  deployment: |
    metadata:
      labels:
        app: {{ eastwest_gateway }}
    spec:
      replicas: {{ eastwest_size }}
{%-   if docker_desktop_enabled %}
      template:
        spec:
          containers:
          - name: istio-proxy
            resources:
              limits:
                cpu: 50m
                memory: 256Mi
              requests:
                cpu: 2m
                memory: 64m
{%-   endif %}

  service: |
    metadata:
      labels:
        topology.istio.io/cluster: {{ cluster }}
        topology.kubernetes.io/region: {{ region }}
        topology.kubernetes.io/zone: {{ zones[0] }}
        istio.io/expose-istiod: "15012"
{%-   if aws_enabled %}
    annotations:
      external-dns.alpha.kubernetes.io/hostname: "eastwest-gateway.{{ network }}.{{ tldn }}"
      service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
      service.beta.kubernetes.io/aws-load-balancer-name: "eastwest-gateway-{{ network }}"
      service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: instance
      service.beta.kubernetes.io/aws-load-balancer-scheme: internal
{%-   endif %}

{%- endif %}
...
