---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  annotations:
    gateway.istio.io/service-account: {{ eastwest_gateway }}
    gateway.istio.io/trust-domain: {{ trust_domain }}
  labels:
    topology.istio.io/network: {{ network }}
{%- if eastwest_remote_gateway_class == "istio-remote" %}
{%-   if istio_revision %}
    istio.io/rev: {{ istio_revision }}
{%-   endif %}
{%- endif %}
  name: istio-remote-peer-{{ cluster }}
  namespace: {{ eastwest_namespace }}
spec:
  addresses:
  - type: {{ address_type }}
    value: {{ remote_address }}
  gatewayClassName: {{ eastwest_remote_gateway_class }}
  listeners:
  - name: cross-network
    port: 15008
    protocol: HBONE
    tls:
      mode: Passthrough
  - name: xds-tls
    port: 15012
    protocol: TLS
    tls:
      mode: Passthrough
...
