---
{%- if ingress_gateway_class == "gloo-gateway-v2" or ingress_gateway_class == "kgateway" %}
apiVersion: gateway.kgateway.dev/v1alpha1
kind: Backend
metadata:
  name: remote-helloworld-backend
  namespace: {{ gloo_gateway_namespace }}
spec:
  type: Static
  static:
    hosts:
    - host: {{ remote_helloworld_address }}
      port: {{ remote_helloworld_port }}
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: Backend
metadata:
  name: remote-tls-helloworld-backend
  namespace: {{ gloo_gateway_namespace }}
spec:
  type: Static
  static:
    hosts:
    - host: {{ remote_helloworld_address }}
      port: {{ remote_helloworld_ssl_port }}
---
kind: BackendConfigPolicy
apiVersion: gateway.kgateway.dev/v1alpha1
metadata:
  name: remote-tls-helloworld-backend-policy
  namespace: {{ gloo_gateway_namespace }}
spec:
  targetRefs:
  - group: gateway.kgateway.dev
    kind: Backend
    name: remote-tls-helloworld-backend
  tls:
    secretRef:
      name: remote-tls-helloworld
{%- elif ingress_gateway_class == "gloo-gateway" %}
apiVersion: gloo.solo.io/v1
kind: Upstream
metadata:
  name: remote-helloworld-upstream
  namespace: {{ gloo_gateway_namespace }}
spec:
  static:
    hosts:
    - addr: {{ remote_helloworld_address }}
      port: {{ remote_helloworld_port }}
---
apiVersion: gloo.solo.io/v1
kind: Upstream
metadata:
  name: remote-tls-helloworld-upstream
  namespace: {{ gloo_gateway_namespace }}
spec:
  static:
    hosts:
    - host: {{ remote_helloworld_address }}
      port: {{ remote_helloworld_ssl_port }}
  sslConfig:
    secretRef:
      name: remote-tls-helloworld
      namespace: {{ gloo_gateway_namespace }}
{%- endif %}
...
