{% if gateway_class_name == "kgateway" %}
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: GatewayParameters
metadata:
  name: {{ name }}-gw-params
  namespace: {{ namespace }}
spec:
  kube: 
    service:
      type: LoadBalancer
    deployment:
      replicas: {{ size }}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  maxReplicas: {{ size }}
  minReplicas: {{ size }}
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ name }}
{% endif %}
{% if gateway_class_name == "istio" %}
{% if istio_126 %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{name }}-options
  namespace: {{ namespace }}
data:
  horizontalPodAutoscaler: |
    spec:
      minReplicas: {{ size }}
      maxReplicas: {{ size }}

  deployment: |
    spec:
      replicas: {{ size }}
      template:
        spec:
          containers:
          - name: istio-proxy
            resources:
              limits:
                cpu: 50m
                memory: 256Mi
              requests:
                cpu: 2m
                memory: 64m

##    metadata:
##      annotations:
##        additional-annotation: some-value

##  service: |
##    spec:
##      ports:
##      - "\$patch": delete
##        port: 15021
{% else %}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  maxReplicas: {{ size }}
  minReplicas: {{ size }}
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ name }}-{{ gateway_class_name }}
{% endif %}
{% endif %}
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app: {{ name }}
{% if gateway_class_name == "istio" %}
{% if revision %}
    istio.io/rev: {{ revision }}
{% endif %}
{% endif %}
spec:
  gatewayClassName: {{ gateway_class_name }}
  listeners:
  - name: http
    hostname: "*.{{ tldn }}"
    port: {{ port }}
    protocol: HTTP
    allowedRoutes:
      namespaces:
        from: Same # All
{% if gateway_class_name == "kgateway" %}
  infrastructure:
    parametersRef:
      name: {{ name }}-gw-params
      group: gateway.kgateway.dev
      kind: GatewayParameters  
{% endif %}
{% if gateway_class_name == "istio" %}
{% if istio_126 %}
  infrastructure:
    parametersRef:
      group: ""
      kind: ConfigMap
      name: {{ name }}-options
##    annotations:
##      some-key: some-value
##    labels:
##      key: value
{% endif %}
{% endif %}
...
