---
apiVersion: v1
kind: Service
metadata:
{%- if ambient_enabled %}
  annotations:
    networking.istio.io/traffic-distribution: {{ istio_traffic_distribution }}
{%- endif %}
  name: {{ helloworld_service_name }}
  namespace: {{ helloworld_namespace }}
  labels:
    app: helloworld
    service: {{ helloworld_service_name }}
{%- if ambient_enabled %}
    solo.io/service-scope: global
{%- endif %}
spec:
  ports:
  - name: http
    port: {{ helloworld_service_port }}
    targetPort: http
  selector:
    app: helloworld
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: helloworld
  namespace: {{ helloworld_namespace }}
{%- for zone in zones %}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloworld-{{ zone }}
  namespace: {{ helloworld_namespace }}
  labels:
    app: helloworld
    version: {{ helloworld_service_version }}
spec:
  replicas: {{ helloworld_size }}
  selector:
    matchLabels:
      app: helloworld
      version: {{ zone }}
  template:
    metadata:
      labels:
        app: helloworld
        version: {{ zone }}
    spec:
      serviceAccountName: helloworld
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: topology.kubernetes.io/zone
                operator: In
                values:
                - {{ zone }}
      containers:
      - name: helloworld
        env:
        - name: SERVICE_VERSION
          value: {{ helloworld_service_version }}
        - name: ZONE
          value: {{ zone }}
        - name: REGION
          value: {{ region }}
        - name: SERVER_PORT
          value: '{{ helloworld_container_port }}'
        image: vincentjorgensen/node-helloworld:0.0.3
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: {{ helloworld_container_port }}
          name: http
        resources:
          limits:
            cpu: 3m
            memory: 40Mi
          requests:
            cpu: 1m
            memory: 20Mi
{% endfor %}
...
