---
common:
  cluster: {{ gme_mgmt_cluster }}
  verbose: {{ gme_verbose | string | lower }}
{%- if gme_mgmt_agent_enabled %}
glooAgent:
  enabled: true
  relay:
    serverAddress: gloo-mesh-mgmt-server:9900
  extraEnvs:
    RELAY_DISABLE_CLIENT_CERTIFICATE_AUTHENTICATION:
      value: "true"
    RELAY_TOKEN:
      valueFrom:
        secretKeyRef:
          key: token
          name: {{ gme_secret }}
{%- endif %}
glooAnalyzer:
  enabled: {{ gme_analyzer_enabled | string | lower }}
  runAsSidecar: true
glooInsightsEngine:
  enabled: {{ gme_insights_enabled | string | lower }}
glooMgmtServer:
  enabled: true
  serviceType: {{ gme_mgmt_service_type }}
  extraEnvs:
    RELAY_DISABLE_CLIENT_CERTIFICATE_AUTHENTICATION:
      value: "true"
    RELAY_TOKEN:
      valueFrom:
        secretKeyRef:
          key: token
          name: {{ gme_secret }}
  relay:
    disableTokenGeneration: true
{%- if aws_enabled and gme_mgmt_service_type == "LoadBalancer" %}
  serviceOverrides:
    metadata:
      annotations:
        external-dns.alpha.kubernetes.io/hostname: "mgmt.{{ gme_mgmt_cluster }}.soloio.vincentjorgensen.com"
        service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
        service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
        service.beta.kubernetes.io/aws-load-balancer-name: "mgmt-{{ gme_mgmt_cluster }}"
        service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
        service.beta.kubernetes.io/aws-load-balancer-scheme: internal
        service.beta.kubernetes.io/aws-load-balancer-type: external
{%- endif %}
{%- if azure_enabled and gme_glooui_service_type == "LoadBalancer" %}
  serviceOverrides:
    metadata:
      annotations:
        service.beta.kubernetes.io/azure-load-balancer-internal: "true"
{%- endif %}
glooUi:
  enabled: true
  serviceType: {{ gme_glooui_service_type }}
{%- if aws_enabled and gme_glooui_service_type == "LoadBalancer" %}
  serviceOverrides:
    metadata:
      annotations:
        external-dns.alpha.kubernetes.io/hostname: "glooui.{{ gme_mgmt_cluster }}.soloio.vincentjorgensen.com"
        service.beta.kubernetes.io/aws-load-balancer-backend-protocol: http
        service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
        service.beta.kubernetes.io/aws-load-balancer-name: "glooui-{{ gme_mgmt_cluster }}"
        service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: instance
        service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
        service.beta.kubernetes.io/aws-load-balancer-type: external
{%- endif %}
{%- if azure_enabled and gme_glooui_service_type == "LoadBalancer" %}
  serviceOverrides:
    metadata:
      annotations:
        service.beta.kubernetes.io/azure-load-balancer-internal: "false"
{%- endif %}
licensing:
  glooMeshLicenseKey: {{ license_key }}
prometheus:
  enabled: true
redis:
  deployment:
    enabled: true
telemetryCollector:
  enabled: true
telemetryCollectorCustomization:
  skipVerify: true
telemetryGateway:
  enabled: true
  service:
    type: {{ gme_telemetry_service_type }}
{%- if aws_enabled and gme_telemetry_service_type == "LoadBalancer" %}
  serviceOverrides:
    metadata:
      annotations:
        external-dns.alpha.kubernetes.io/hostname: "telemetry.{{ gme_mgmt_cluster }}.soloio.vincentjorgensen.com"
        service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
        service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
        service.beta.kubernetes.io/aws-load-balancer-name: "telemetry-{{ gme_mgmt_cluster }}"
        service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
        service.beta.kubernetes.io/aws-load-balancer-scheme: internal
        service.beta.kubernetes.io/aws-load-balancer-type: external
{%- endif %}
{%- if azure_enabled %}
    annotations:
      service.beta.kubernetes.io/azure-load-balancer-internal: "true"
{%- endif %}
######rateLimit:
######  enabled: true
######  deployment:
######    dynamodb:
######      secretName: aws-credentials 
######      region: us-west-2
######      tableName: rate-limits
######      consistentReads: false
######      batchSize: 100
...
