profile: ambient
{% if revision %}
revision: {{ revision }}
{% endif %}
global:
  hub: {{ istio_repo }}
  tag: {{ istio_ver }}{{ flavor }}
ambient:
  dnsCapture: true
resources:
  limits:
    cpu: 10m
    memory: 64Mi
  requests:
    cpu: 1m
    memory: 20Mi
