name: istio-eastwestgateway
{%- if istio_revision %}
revision: {{ istio_revision }}
{%- endif %}
global:
  hub: {{ istio_repo }}
  tag: {{ istio_ver }}{{ istio_flavor }}
labels:
  istio: eastwestgateway
  app: istio-eastwestgateway
  topology.istio.io/network: {{ network }}
service:
{%- if azure_enabled %}
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: "true"
{%- endif %}
{%- if aws_enabled %}
  annotations:
    external-dns.alpha.kubernetes.io/hostname: "eastwest-gateway.{{ network }}.soloio.vincentjorgensen.com"
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-path: "/healthz/ready"
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-port: "15021"
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-protocol: http
    service.beta.kubernetes.io/aws-load-balancer-name: "eastwest-gateway-{{ network }}"
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: instance
    service.beta.kubernetes.io/aws-load-balancer-scheme: internal
  extralabels:
    target-workload: gateway
{%- endif %}
  type: LoadBalancer
{%- if tls_termination_enabled %}
  ports:
  - name: status-port
    port: 15021
    targetPort: 15021
  - name: tls
    port: 15443
    targetPort: 15443
  - name: https
    port: 16443
    targetPort: 16443
  - name: tls-istiod
    port: 15012
    targetPort: 15012
  - name: tls-webhook
    port: 15017
    targetPort: 15017
{%- else %}
networkGateway: {{ network }}
{%- endif %}
replicaCount: {{ eastwest_size }}
autoscaling:
    minReplicas: {{ eastwest_size }}
    maxReplicas: {{ eastwest_size }}
##affinity:
##  podAntiAffinity:
##    preferredDuringSchedulingIgnoredDuringExecution:
##    - podAffinityTerm:
##        labelSelector:
##          matchExpressions:
##          - key: istio
##            operator: In
##            values:
##            - eastwestgateway
##        topologyKey: topology.kubernetes.io/zone
##      weight: 100
...
