---
common:
  adminNamespace: {{ gloo_system_namespace }}
  cluster: {{ cluster }}
glooInsightsEngine:
  enabled: true
glooAnalyzer:
  enabled: true
glooUi:
  enabled: true
  serviceType: {{ glooui_service_type }}
  verbose: debug
licensing:
  glooMeshLicenseKey: {{ gloo_mesh_license_key }}
  glooGatewayLicenseKey: {{ gloo_gateway_license_key }}
prometheus:
  enabled: true
telemetryCollector:
  enabled: true
  mode: deployment
  replicaCount: 1
{%- if gloo_gateway_v2_enabled %}
telemetryCollectorCustomization:
  extraPipelines:
    metrics/ggv2:
      processors:
      - filter/ggv2-control-plane
      receivers:
      - prometheus
      exporters:
      - prometheus
{%- endif %}
...
