profile: ambient
{%- if istio_revision %}
revision: {{ istio_revision }}
{%- endif %}
global:
  hub: {{ istio_repo }}
  tag: {{ istio_ver }}{{ istio_flavor }}
  variant: {{ istio_variant }}
ambient:
  dnsCapture: true
resources:
  limits:
    cpu: 10m
    memory: 64Mi
  requests:
    cpu: 1m
    memory: 20Mi
