---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app: {{ name }}
spec:
  gatewayClassName: kgateway
  listeners:
  - name: http
    hostname: "*.{{ tldn }}"
    port: {{ port }}
    protocol: HTTP
    allowedRoutes:
      namespaces:
        from: All
###  infrastructure:
###    parametersRef:
###      name: {{ name }}-params
###      group: gateway.kgateway.dev
###      kind: GatewayParameters  
###---
###apiVersion: gateway.kgateway.dev/v1alpha1
###kind: GatewayParameters
###metadata:
###  name: {{ name }}-gw-params
###  namespace: {{ namespace }}
###spec:
###  kube: 
###    service:
###      type: LoadBalancer
###    deployment:
###      replicas: {{ size }}
...
