---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    name: {{ name }}
{% if revision %}
    istio.io/rev: {{ revision }}
{% endif %}
spec:
  gatewayClassName: istio
  listeners:
  - name: http
    hostname: "{{ tldn }}"
    port: {{ port }}
    protocol: HTTP
    allowedRoutes:
      namespaces:
        from: Same
{% if istio_126 %}
  infrastructure:
##    annotations:
##      some-key: some-value
##    labels:
##      key: value
    parametersRef:
      group: ""
      kind: ConfigMap
      name: istio-eastwest-options
{% endif %}
{% if istio_126 %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: istio-eastwest-options
  namespace: istio-eastwest
data:
  horizontalPodAutoscaler: |
    spec:
      minReplicas: {{ size }}
      maxReplicas: {{ size }}

##  deployment: |
##    metadata:
##      annotations:
##        additional-annotation: some-value
##    spec:
##      replicas: {{ size }}
##      template:
##        spec:
##          containers:
##          - name: istio-proxy
##            resources:
##              requests:
##                cpu: 1234m
##
##  service: |
##    spec:
##      ports:
##      - "\$patch": delete
##        port: 15021
{% else %}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: istio-eastwest
  namespace: istio-eastwest
spec:
  maxReplicas: {{ size }}
  minReplicas: {{ size }}
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: istio-eastwest
{% endif %}
...
