---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: netshoot
  namespace: {{ netshoot_namespace }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: netshoot
  namespace: {{ netshoot_namespace }}
  labels:
    app: netshoot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: netshoot
  template:
    metadata:
      labels:
        app: netshoot
    spec:
      serviceAccountName: netshoot
      containers:
      - name: netshoot
        command:
        - "tail"
        - "-f"
        - "/dev/null"
        image: nicolaka/netshoot:latest # https://github.com/nicolaka/netshoot
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            cpu: 20m
            memory: 50Mi
          requests:
            cpu: 5m
            memory: 20Mi
...
